name: Rust

on:

  push:

    branches: [ "main" ]

  pull_request:

    branches: [ "main" ]

env:

  CARGO_TERM_COLOR: always

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Build

      run: |

        cargo install --path .

        

    - name: Commit report

      run: |
        

        git config --global user.name 'Mustafa Mahdi'

        git config --global user.email 'mmhdi@users.noreply.github.com'

        git add Cargo.lock target 

        git commit -am "Automated report"

        git push
