name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Cargo Cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo
          target
          /tmp/.buildx-cache
        key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.toml') }}
        restore-keys: |
          ${{ runner.os }}-cargo-${{ hashFiles('Cargo.toml') }}
          ${{ runner.os }}-cargo
    - run: cargo test

    - name: Login to DockerHub
      uses: docker/login-action@v2 
      with:
        username: "mmhdi"
        password: "077MustafeaM8C"

    - uses: docker/setup-buildx-action@v2
    - uses: docker/build-push-action@v4
      with:
        context: ./
        file: ./Dockerfile
        push: true
        tags: mmhdi/hello:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - run: ls